/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body{
background: rgb(9,8,29);
    background: linear-gradient(180deg, rgba(9,8,29,1) 21%, rgba(5,3,15,1) 43%, rgba(30,18,76,1) 70%, rgba(22,28,100,1) 100%) fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
